*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Recursive', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
}

header{
  background-color: black;
  padding: 2% 2%;
  margin-bottom: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo{
  width: 15%;
  height: auto;
  margin-left: 7%;
}

body{
  background-color: purple;
}


.movie, .serie{
  display: inline-block;
  padding: 2% 2%;
  margin: 2% 2%;
  color: white;
}


.results{
  margin: 0 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.poster{
  position: absolute;
  padding: 0 2%;
  margin: 0 3%;
  top:0;
  left: 0;
  opacity:1;
  transition: all .3s;
  box-shadow: -1px 1px 5px 0px #000000;
}

.poster:hover{
  opacity: 0
}

.serie-info, .movie-info{
  width: 30%;
  display: inline-block;
  position: relative;
  padding-bottom: 4%;
}

li{
  height: 513px;
  list-style: none;
  padding: 5% 5%;
  margin: 2% 2%;
  color: white;
  background-color: black;
}

.ricerca{
  width: 25%;
}


.flag{
  width: 5%;
}


i{
  color: yellow;
}

#push{
  padding: 1% 2%;
  border-radius: 15px;
  border-style: hidden;
}

#search{
  padding: 1% 1%;
  border-radius: 15px;
  border-style: hidden;
}
