*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  background-color: black;
  padding: 2% 2%;
  margin-bottom: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo{
  width: 15%;
  height: auto;
}

body{
  background-color: purple;
}


.movie{
  
  display: inline-block;
  padding: 2% 2%;
  margin: 2% 2%;
  color: white;


}

.serie{
  display: inline-block;
  padding: 2% 2%;
  margin: 2% 2%;
  color: white;
}

li{
  list-style: none;
}

.poster:hover{
  opacity: 0
}


.ricerca{
  width: 25%;
}

.flag{
  width: 5%;
  height: auto;
}

i{
  color: yellow;
}

#push{
  padding: 1% 2%;
  border-radius: 15px;
}

#search{
  padding: 1% 1%;
  border-radius: 15px;
}
